<main>
  <h1>Admin Dashboard</h1>
  <div id="content">
    <div class="card">
      <img src="../../../assets/icons8-book-100.png" alt="book">
      <p>{{totalBooks}}</p>
      <p>Books</p>
    </div>
    <div class="card">
      <img src="../../../assets/icons8-give-100.png" alt="book">
      <p>{{totalIssuedBooks}}</p>
      <p>issued Books</p>
    </div>
    <div class="card">
      <img src="../../../assets/icons8-return-100.png" alt="book">
      <p>{{totalReturnedBooks}}</p>
      <p>Time returned books</p>
    </div>
    <div class="card">
      <img src="../../../assets/icons8-users-90.png" alt="book">
      <p>{{totalUsers}}</p>
      <p>users</p>
    </div>


    <div class="card">
      <img src="../../../assets/icons8-categories-100.png" alt="book">
      <p>{{totalCategories}}</p>
      <p>Categories</p>
    </div>
    <div class="card">
      <img src="../../../assets/icons8-dollar-bill-64.png" alt="book">
      <p>{{fine}}</p>
      <p>Fine </p>
    </div>
  </div>
</main>
